<% if @message %>
  <p><%= @message %></p>
<% end %>

Name: <%= @user.name %><br>
Mood: <%= @user.mood %><br>
Happiness: <%= @user.happiness %><br>
Tickets: <%= @user.tickets %><br>
Height: <%= @user.height %><br>
ADMIN: <%= @user.admin %><br><br><br>

<%= link_to "See attractions", attractions_path %><br>

<%= link_to "Log Out", user_path(@user), :method => "delete"  %>
