<h3>attractions show page</h3>

<h4>Name: <%= @attraction.name %></h4>
<h5>Min Height: <%= @attraction.min_height %></h5>
<h5>Happiness Rating: <%= @attraction.happiness_rating %></h5>
<h5>Nausea Rating: <%= @attraction.nausea_rating %></h5>
<h5>Tickets: <%= @attraction.tickets %></h5>


<% current_user = User.find_by(id: session[:user_id]) %>

<% if current_user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction)  %>
<% end %>

<%= form_for(@ride) do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :attraction_id, :value => @attraction.id %>

  <%= f.submit value="Go on this ride" %>
<% end %>
